@tailwind base;
@tailwind components;
@tailwind utilities;

/* Gaya custom tambahan */
.hero {
    background: linear-gradient(to right, #007bff, #00c6ff);
    border-radius: 0 0 80px 80px;
}

/* Reset margin dan padding untuk body */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Anda bisa menambahkan font default di sini */
}

.navbar {
    background-color: #123456 !important;
}

body.layout-fixed .main-sidebar {
    height: 100vh !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 1030 !important;
    overflow-y: auto !important;
}
